{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
   <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'Dashboard2/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'Dashboard2/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'Dashboard2/vendors/css/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="{% static 'Dashboard2/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <link rel="stylesheet" href="{% static 'Dashboard2/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'Dashboard2/js/select.dataTables.min.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'Dashboard2/css/vertical-layout-light/style.css' %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'img/websitebuilder-removebg-preview.png' %} " />
  {% comment %} <link rel="shortcut icon" href="{% static 'Dashboard2/images/favicon.png' %}" /> {% endcomment %}


   <!-- FontAwesome JS-->
   <script defer src="{% static 'assets/plugins/fontawesome/js/all.min.js' %} "></script>
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'dashbord2/images/favicon.png' %} " />
</head>


<body>
    {% if messages %}
		{% for message in messages %}
			<div class="alert alert-success" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logo.svg" alt="logo">
              </div>
              <h4>Hello! let's get started</h4>
              <h6 class="font-weight-light">Sign in to continue.</h6>
              <form class="pt-3" action="" method="POST">
                {% csrf_token %}    
                <div class="form-group">
                    <label class="sr-only" for="username">username</label>
                    <input id="username" name="username" type="text" class="form-control username" placeholder="username" required="required">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <input id="password" name="password" type="password" class="form-control password" placeholder="Password" required="required">
                </div>
                <div class="mt-3">
                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Log In</button>

                  {% comment %} <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" href="">SIGN IN</a> {% endcomment %}
                </div>
                {% comment %} <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">Forgot password?</a>
                </div> {% endcomment %}
                {% comment %} <div class="mb-2">
                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook mr-2"></i>Connect using facebook
                  </button>
                </div> {% endcomment %}
                <div class="text-center mt-4 font-weight-light">
                  Don't have an account? <a href="{% url 'register' %}" class="text-primary">Create</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{% static 'Dashboard2/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{% static 'Dashboard2/js/off-canvas.js' %}"></script>
  <script src="{% static 'Dashboard2/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'Dashboard2/js/template.js' %}"></script>
  <script src="{% static 'Dashboard2/js/settings.js' %}"></script>
  <script src="{% static 'Dashboard2/js/todolist.js' %}"></script>
  <!-- endinject -->
</body>

</html>
