<!DOCTYPE html>
<html>
<head>
    <title>Get Free Website successfully</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>You have successfully Get Free the Website with the details:</p>
    <p>Name Website: <strong>{{ name_website }}</strong></p>
    <p>Date Get Free Website: <strong>{{ date_website }}</strong></p>
    <p>Prix Website: <strong>{{ prix_website }} MAD</strong></p>
    <p>For more details, please visit <a href="{{ protocol }}://{{ domain }}">our website</a>.</p>
    <p>Thank you for using our website!</p>
</body>
</html>
