<!DOCTYPE html>
<html>
<head>
    <title>Achat Website successfully</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>You have successfully Achat the Website with the details:</p>
    <p>Name Website: <strong>{{ name_website }}</strong></p>
    <p>Date Achat Website: <strong>{{ date_website }}</strong></p>
    <p>Prix Achat Website: <strong>{{ prix_website }} MAD</strong></p>
    <p>For more details, please visit <a href="{{ protocol }}://{{ domain }}/WebSites">our website</a>.</p>
    <p>Thank you for Achat our website!</p>
</body>
</html>
