<!DOCTYPE html>
<html>
<head>
    <title>Location Website successfully</title>
</head>
<body>
    <p>Dear {{ user }},</p>
    <p>You have successfully Location the Website with the details:</p>
    <p>Name Website: <strong>{{ name_website }}</strong></p>
    <p>Date Debut Location Website: <strong>{{ date_website }}</strong></p>
    <p>Date Fin Location Website: <strong>{{ DateFine_website }}</strong></p>
    <p>Prix Location Website: <strong>{{ prix_website }} MAD</strong></p>
    <p>For more details, please visit <a href="{{ protocol }}://{{ domain }}">our website</a>.</p>
    <p>Thank you for Location our website!</p>
</body>
</html>
