<!-- Header Inner -->
<div class="header-inner">
    <div class="container">
        <div class="inner">
            <div class="row">
                
                <div class="col-lg-3 col-md-3 col-12">
                    <!-- Start Logo -->
                    <div class="logo">
                        <a href=""><img src="{% static 'img/logo-1-removebg-preview.png' %} " alt="#"></a>
                    </div>
                    <!-- End Logo -->
                    <!-- Mobile Nav -->
                    <div class="mobile-nav"></div>
                    <!-- End Mobile Nav -->
                </div>
                <div class="col-lg-7 col-md-9 col-12">
                    <!-- Main Menu -->
                    <div class="main-menu">
                        <nav class="navigation">
                            <ul class="nav menu">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">détail du user</a></li>
                                <li><a href="#">Mes Services </a></li>
                                <li><a href="#">Solde et facturation </a></li>
                                <li><a href="#">Liste des Websites </a>
                                <li><a href="">Listes des services</a></li>
                                <li><a href="">Ticket</a></li>
                                <li><a href="">Help</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--/ End Main Menu -->
                </div>
                <div class="col-lg-2 col-12">
                    <div class="get-quote">
                        <a href="" class="btn">Solde 100MAD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ End Header Inner -->
</header>
<!-- End Header Area -->