{% extends "Administrateur/dashbordAdministrateur.html" %}
{% load static %}

{% block content %}


        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                  <h1 class="page-title my-auto">Liste de sites Web</h1>
                  <div>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="{% url 'liste_websites' %}">Accueil</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">liste de sites Web</li>
                    </ol>
                  </div>
                </div>
                <!-- PAGE-HEADER END -->
                <div class="page-header">
                  <h1 class="page-title my-auto"></h1>
                  <div>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                      </li>
                      <a href="{% url 'ajouter_website' %}" class="btn btn-outline-primary btn-lg px-4">
                        <i class="bi bi-plus-circle me-2"></i> Ajouter
                      </a>
                    </ol>
                  </div>
                </div>


                <!-- Start::row-1 -->
                <form method="get">
                <div class="row">
                    <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-12">
                        <div class="card custom-card">
                            <div class="card-header"><div class="card-title">Statut</div></div>
                            <div class="card-body">
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="status" value="" id="status-all" {% if not status %}checked{% endif %}>
                                <label class="form-check-label" for="status-all">Tous</label>
                              </div>
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="status" value="Active" id="status-active" {% if status == 'Active' %}checked{% endif %}>
                                <label class="form-check-label" for="status-active">Actif</label>
                              </div>
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="status" value="No Active" id="status-inactive" {% if status == 'No Active' %}checked{% endif %}>
                                <label class="form-check-label" for="status-inactive">Inactif</label>
                              </div>
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header"><div class="card-title">Catégorie</div></div>
                            <div class="card-body">
                              <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="catégorie" value="" id="cat-all" {% if not catégorie %}checked{% endif %}>
                                <label class="form-check-label" for="cat-all">Toutes</label>
                              </div>
                              {% for cat in catégories_list %}
                                <div class="form-check mb-2">
                                  <input class="form-check-input" type="radio" name="catégorie" value="{{ cat }}" id="cat-{{ forloop.counter }}" {% if catégorie == cat %}checked{% endif %}>
                                  <label class="form-check-label" for="cat-{{ forloop.counter }}">{{ cat }}</label>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header"><div class="card-title">CMS</div></div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="CMS" value="" id="cms-all" {% if not CMS %}checked{% endif %}>
                                    <label class="form-check-label" for="cms-all">Toutes</label>
                                </div>
                                {% for c in cms_list %}
                                <div class="form-check mb-2">
                                  <input class="form-check-input" type="radio" name="CMS" value="{{ c }}" id="cms-{{ forloop.counter }}" {% if CMS == c %}checked{% endif %}>
                                  <label class="form-check-label" for="cms-{{ forloop.counter }}">{{ c }}</label>
                                </div>
                              {% endfor %}
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header"><div class="card-title">Langue</div></div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="langues" value="" id="langue-all" {% if not langues %}checked{% endif %}>
                                    <label class="form-check-label" for="langue-all">Toutes</label>
                                </div>
                                {% for l in langues_list %}
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="langues" value="{{ l }}" id="langue-{{ forloop.counter }}" {% if langues == l %}checked{% endif %}>
                                        <label class="form-check-label" for="langue-{{ forloop.counter }}">{{ l }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card custom-card">
                            <div class="card-header"><div class="card-title">Forfait</div></div>
                            <div class="card-body">
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="plan" value="" id="plan-all" {% if not plan %}checked{% endif %}>
                                    <label class="form-check-label" for="plan-all">Tous</label>
                                </div>
                                {% for p in plans_list %}
                                    <div class="form-check mb-2">
                                        <input class="form-check-input" type="radio" name="plan" value="{{ p }}" id="plan-{{ forloop.counter }}" {% if plan == p %}checked{% endif %}>
                                        <label class="form-check-label" for="plan-{{ forloop.counter }}">{{ p }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                            {% comment %} <div class="justify-content-end gap-2 mt-2">
                                <button type="submit" class="btn btn-dark btn-sm px-4 rounded-pill">
                                    <i class="bi bi-search"></i> Filtrer
                                </button>
                                <a href="{% url 'websites_list_superadmin' %}" class="btn btn-outline-secondary btn-sm px-4 rounded-pill">
                                    <i class="bi bi-arrow-clockwise"></i> Réinitialiser
                                </a>
                            </div> {% endcomment %}
                        </div>
                    </form>
                    <script>
                        document.querySelectorAll('input[type="radio"]').forEach(function(radio) {
                          radio.addEventListener('change', function() {
                            this.form.submit();
                          });
                        });
                      </script>
                      
                    <div class="col-xxl-9 col-xl-8 col-lg-8 col-md-12">
                        <div class="row">
                            {% for site in websites %}
                            <div class="col-xxl-4 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="card custom-card product-card">
                                    <div class="card-body">
                                        <a href="{% url 'website_details' site.id %}" class="product-image">
                                            {% if site.image %}
                                                <img src="{{ site.image.url }}" class="card-img mb-3" alt="{{ site.name }}">
                                            {% else %}
                                                <img src="{% static 'assets/images/ecommerce/products/default.jpg' %}" class="card-img mb-3" alt="No image">
                                            {% endif %}
                                        </a>
                    
                                        <div class="product-icons">
                                            <a href="{% url 'supprimer_website' site.pk %}" onclick="return confirm('Êtes-vous sûr de vouloir masquer {{ website.name }} ?')" class="wishlist"><i class="ri-delete-bin-fill"></i></a>
                                            <a href="{% url 'modifier_website' site.pk %}" class="cart"><i class="ri-edit-2-fill"></i></a>
                                            {% comment %} <a href="{% url 'website_details' site.id %}" class="view"><i class="ri-eye-line"></i></a> {% endcomment %}
                                        </div>
                    
                                        <p class="product-name fw-semibold mb-0 d-flex align-items-center justify-content-between">
                                            {{ site.name }}
                                            <span class="float-end text-warning fs-12">
                                                4.2<i class="ri-star-s-fill align-middle ms-1 d-inline-block"></i>
                                            </span>
                                        </p>
                    
                                        <p class="product-description fs-11 text-muted mb-2">
                                            {{ site.catégorie }}
                                        </p>
                    
                                        <p class="mb-1 fw-semibold fs-16 d-flex align-items-center justify-content-between">
                                            <span>
                                                {{ site.prix }} MAD
                                                <span class="text-muted text-decoration-line-through ms-1 d-inline-block op-6">
                                                    {{ site.prix|add:"100" }} MAD
                                                </span>
                                            </span>
                                            <span class="badge bg-secondary-transparent float-end fs-10">50% off</span>
                                        </p>
                    
                                        <p class="fs-11 text-success fw-semibold mb-0 d-flex align-items-center">
                                            <i class="ti ti-discount-2 fs-16 me-1"></i>
                                            Prix ​​de l'offre {{ site.prix }} MAD
                                        </p>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <div class="col-12">
                                <div class="alert alert-warning text-center">Aucun site Web disponible</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                </div>
                <!--End::row-1 -->

                <!-- Pagination -->
                <ul class="pagination justify-content-end">
                    {% if page_obj.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if status %}&status={{ status }}{% endif %}{% if catégorie %}&catégorie={{ catégorie }}{% endif %}{% if CMS %}&CMS={{ CMS }}{% endif %}{% if langues %}&langues={{ langues }}{% endif %}{% if plan %}&plan={{ plan }}{% endif %}">Précédent</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link">Précédent</a></li>
                    {% endif %}
                  
                    {% for num in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}{% if status %}&status={{ status }}{% endif %}{% if catégorie %}&catégorie={{ catégorie }}{% endif %}{% if CMS %}&CMS={{ CMS }}{% endif %}{% if langues %}&langues={{ langues }}{% endif %}{% if plan %}&plan={{ plan }}{% endif %}">{{ num }}</a>
                      </li>
                    {% endfor %}
                  
                    {% if page_obj.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if status %}&status={{ status }}{% endif %}{% if catégorie %}&catégorie={{ catégorie }}{% endif %}{% if CMS %}&CMS={{ CMS }}{% endif %}{% if langues %}&langues={{ langues }}{% endif %}{% if plan %}&plan={{ plan }}{% endif %}">Suivant</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled"><a class="page-link">Suivant</a></li>
                    {% endif %}
                  </ul>
                  
                <!-- Pagination -->

            </div>
        </div>
        <!-- End::app-content -->

    </div>

    
    <!-- Scroll To Top -->
    <div class="scrollToTop">
        <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
    </div>
    <div id="responsive-overlay"></div>

{% endblock %}