{% extends "clients/dashboard2.html" %}

{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

     <!-- Start::app-content -->
 <div class="main-content app-content">
    <br>
    <div class="container-fluid">
        {% if messages %}
        <script>
            setTimeout(function() {
                $('.alert').alert('close');
            }, 7000);
        </script>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                   
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                   
        </div>
            {% endif %}
        {% endfor %}
    {% endif %}


        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title my-auto">Mettre à jour Nom du site Web : <span class="font-weight-bold">{{website_builder_location.nameWebsite}}</h1>
          <div>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Mettre à jour du site Web</li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->
  
  
        <!-- Start::row-1 -->
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <img class="card-img-top " src="{{ website_builder_location.website.image.url }}" alt="Card image cap">
                    <div class="card-body border-bottom">
                        <div class="d-md-flex flex-wrap align-items-center">
                            <!-- Nom du site Web -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-primary-transparent text-primary avatar">
                                <i class="fe fe-globe"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder_location.nameWebsite }}
                              </span>
                            </a>
                          
                            <!-- Date de génération -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-secondary-transparent text-secondary avatar">
                                <i class="fe fe-calendar"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder_location.location_website.date_debut|date:"d M Y" }}
                              </span>
                            </a>
                             <!-- Date de génération -->
                             <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-secondary-transparent text-danger avatar">
                                <i class="fe fe-calendar"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder_location.location_website.date_fin|date:"d M Y" }}
                              </span>
                            </a>
                          
                            <!-- Nom du template -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-info-transparent text-info avatar">
                                <i class="fe fe-layout"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder_location.website.name }}
                              </span>
                            </a>
                          
                            {% comment %} <!-- Date fin hébergement -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-warning-transparent text-warning avatar">
                                <i class="fe fe-clock"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder.date_fin_hebergement|date:"d M Y" }}
                              </span>
                            </a> {% endcomment %}
                          
                            <!-- Type d'achat -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-success-transparent text-success avatar">
                                <i class="fe fe-shopping-cart"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">Location</span>
                            </a>
                          
                            <!-- Statut du site -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-dark-transparent text-dark avatar">
                                <i class="fe fe-activity"></i>
                              </span>
                              <span class="my-auto ms-2 fw-semibold">
                                {% if website_builder_location.Statu_du_website == '1' %}
                                  <span class="badge bg-success rounded-pill text-white p-2 px-3">Active</span>
                                {% elif website_builder_location.Statu_du_website == '2' %}
                                  <span class="badge bg-warning rounded-pill text-white p-2 px-3">Suspendu</span>
                                {% elif website_builder_location.Statu_du_website == '3' %}
                                  <span class="badge bg-secondary rounded-pill text-white p-2 px-3">Demande de Résiliation</span>
                                {% elif website_builder_location.Statu_du_website == '4' %}
                                  <span class="badge bg-info rounded-pill text-white p-2 px-3">Paiement en retard</span>
                                {% elif website_builder_location.Statu_du_website == '5' %}
                                  <span class="badge bg-dark rounded-pill text-white p-2 px-3">En attente de Suppression</span>
                                {% elif website_builder_location.Statu_du_website == '6' %}
                                  <span class="badge bg-danger rounded-pill text-white p-2 px-3">Il sera supprimé après un jour</span>
                                {% elif website_builder_location.Statu_du_website == '8' %}
                                  <span class="badge bg-danger rounded-pill text-white p-2 px-3">Demande de Supprimé</span>
                                {% endif %}
                                {% if website_builder_location.Statu_du_website == '8' %}  {% comment %} and not delete_status == '1' {% endcomment %}
                                  <p>Statu du website  : <span class="badge badge-danger">Demande de Supprimé</span></p>
                                {% endif %}
                              </span>
                              
                            </a>
                            <br><br><br><br>
                            {% if expiration_passed and reset_status == '0' %}
                              <p>Statu du website Reset : <span class="badge bg-info rounded-pill text-white p-2 px-3">Réinitialiser en cours</span></p>
                            {% endif %}
                            {% if expiration_passed and reset_status == '1' %}
                            <p>Statu du website Reset : <span class="badge bg-info rounded-pill text-white p-2 px-3">Réinitialiser, c'est fait</span></p>
                            {% endif %}
                          </div>                          
                    </div>


                    <div class="card-body">
                      {% if expiration_passed and not resiliation_exists and not reprendre_exists and not delete_exists and website_builder_location.Statu_du_website == '1' %}
                          <button type="button" class="btn btn-sm badge bg-secondary rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmResiliationModal">Resiliation</button>
                          <form id="resiliationForm" method="POST" action="{% url 'client:add_website_resiliation' %}" style="display: none;">
                              {% csrf_token %}
                              <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                              <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                              <input type="hidden" name="website_id" value="{{ website_builder_location.website.id }}">
                          </form>
                      {% endif %}
                      
                       <!-- Reprendre Resiliation -->
                      {% if expiration_passed and not resiliation_exists and not resiliation_exists and not delete_exists and website_builder_location.Statu_du_website == '3' %}
                          <button type="button" class="btn btn-sm badge bg-secondary rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmResiliationModal2">Reprendre</button>
                          <form id="resiliationForm" method="POST" action="{% url 'client:add_website_reprendre' %}" style="display: none;">
                              {% csrf_token %}
                              <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                              <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                              <input type="hidden" name="website_id" value="{{ website_builder_location.website.id }}">
                          </form>
                      {% endif %}

                       <!-- Suspendre -->
                      {% if expiration_passed and not suspendre_exists and not reprendre_suspendre_exists and not delete_exists and website_builder_location.Statu_du_website == '1' %}
                          <button type="button" class="btn btn-sm badge bg-warning rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmSuspendreModal">Suspendre</button>
                          <form id="suspendreForm" method="POST" action="{% url 'client:add_website_suspendre' %}" style="display: none;">
                              {% csrf_token %}
                              <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                              <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                              <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                          </form>
                      {% endif %}

                      
                        <!-- Reprendre Suspendre -->
                        {% if expiration_passed and not reprendre_suspendre_exists and not suspendre_exists and not delete_exists and website_builder_location.Statu_du_website == '2' %}
                          <button type="button" class="btn btn-sm badge bg-warning rounded-pill text-white" style="width: 158px; height: 26px;" data-toggle="modal" data-target="#confirmSuspendreModal2">Reprendre Suspendre</button>
                            <form id="suspendreForm2" method="POST" action="{% url 'client:add_website_suspendre_reprendre' %}" style="display: none;">
                              {% csrf_token %}
                                <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                                <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                                <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                              </form>
                        {% endif %}

                        <!-- Reset -->
                        {% if expiration_passed and not reset_request and not delete_exists %}
                            <button type="button" class="btn btn-sm badge bg-info rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmResetModal">Reset</button>
                            <form id="resetForm" method="POST" action="{% url 'client:add_website_reset' %}" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                                <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                                <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                            </form>
                        {% endif %}
                       
                        {% if not delete_exists %}
                            <button type="button" class="btn btn-sm badge bg-info rounded-pill text-white" style="width: 205px; height: 26px;" data-toggle="modal" data-target="#addPeriodModal">Ajouter une période de localisation</button>
                        {% endif %}
                        

                        <div class="modal fade" id="addPeriodModal" tabindex="-1" role="dialog" aria-labelledby="addPeriodModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="addPeriodModalLabel">Ajouter une période de localisation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      <form id="addPeriodForm" method="POST" action="{% url 'client:add_period_location' location_id=website_builder_location.location_website.id %}">
                                          {% csrf_token %}
                                          <input type="hidden" name="location_id" value="{{ location_id }}">
                                          <input type="hidden" name="website_builder_location_id" value="{{ website_builder_location.nameWebsite }}">
                                          <div class="form-group">
                                              <label for="rental_period">Choisissez la période de location :</label>
                                              <select class="form-control" id="rental_period" name="rental_period">
                                                  <option value="1">1 mois</option>
                                                  <option value="2">2 mois</option>
                                                  <option value="3">3 mois</option>
                                                  <option value="4">4 mois</option>
                                                  <option value="5">5 mois</option>
                                                  <option value="6">6 mois</option>
                                              </select>
                                          </div><br>
                                          <div class="form-group">
                                              <label for="total_price">Prix ​​total:</label>
                                              <input type="text" class="form-control" id="total_price" name="total_price" readonly>
                                          </div><br>
                                          <button type="submit" class="btn btn-primary">Confirmer</button>
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
      
                      <script>
                          document.getElementById('rental_period').addEventListener('change', function () {
                              var selectedPeriod = this.value;
                              var prixLoyer = parseFloat("{{ website_builder_location.location_website.websites.prix_loyer }}");
                              var totalPrice = prixLoyer * parseInt(selectedPeriod);
                              document.getElementById('total_price').value = totalPrice.toFixed(2) + " MAD";
                          });
                      </script>
                  </div>


                  <!-- Modal confirmation Resiliation-->
        <div class="modal fade" id="confirmResiliationModal" tabindex="-1" role="dialog" aria-labelledby="confirmResiliationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmResiliationModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir soumettre une demande d’escalade ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" onclick="document.getElementById('resiliationForm').submit()">Confirmer</button>
                  </div>
              </div>
          </div>
        </div>

         <!-- Modal confirmation reprendre Resiliation -->
         <div class="modal fade" id="confirmResiliationModal2" tabindex="-1" role="dialog" aria-labelledby="confirmResiliationModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmResiliationModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir soumettre une demande de résiliation Reprendre ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" onclick="document.getElementById('resiliationForm').submit()">Confirmer</button>
                  </div>
              </div>
          </div>
        </div>

       <!-- Modal confirmation Suspendre  -->
        <div class="modal fade" id="confirmSuspendreModal" tabindex="-1" role="dialog" aria-labelledby="confirmSuspendreModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmSuspendreModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir soumettre une demande de suspension ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" onclick="document.getElementById('suspendreForm').submit()">Confirmer</button>
                  </div>
              </div>
          </div>
        </div>

        <!-- Modal confirmation Reprendre Suspendre -->
        <div class="modal fade" id="confirmSuspendreModal2" tabindex="-1" role="dialog" aria-labelledby="confirmSuspendreModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmSuspendreModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir soumettre une demande de Reprendre Suspendre ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" onclick="document.getElementById('suspendreForm2').submit()">Confirmer</button>
                  </div>
              </div>
          </div>
      </div>

       <!-- Modal confirmation Reset -->
        <div class="modal fade" id="confirmResetModal" tabindex="-1" role="dialog" aria-labelledby="confirmResetModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="confirmResetModalLabel">Confirmation</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                    Êtes-vous sûr de vouloir soumettre une demande de réinitialisation ?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                      <button type="button" class="btn btn-primary" onclick="document.getElementById('resetForm').submit()">Confirmer</button>
                  </div>
              </div>
          </div>
        </div>
                </div>
                <div class="row">
                    <!-- Première carte : Mettre à jour WordPress -->
                    <div class="col-md-6 mb-4">
                      <div class="card h-100">
                        <div class="card-header bg-light">
                          <div class="card-title font-weight-bold">Mettre à jour</div>
                        </div>
                        <div class="card-body">
                          <form method="post" action="{% url 'update_wordpress' %}">
                            {% csrf_token %}
                            <form method="post" action="{% url 'update_wordpress' %}">
                              {% csrf_token %}
                              <div class="form-group">
                                  <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                                  <input type="hidden" name="website_builder_location_id" value="{{ website_builder_location.id }}">
              
                                  <label for="title">New Title:</label>
                                  <input type="text" class="form-control" id="title" name="title" placeholder="Enter new title">
                              </div>
                              <div class="form-group">
                                  <label for="description">New Description:</label>
                                  <input type="text" class="form-control" id="description" name="description" placeholder="Enter new description">
                              </div>
                              <!-- Uncomment and add other fields if needed -->
                              <!-- <div class="form-group">
                                  <label for="logo-url">New Logo URL:</label>
                                  <input type="text" class="form-control" id="logo-url" name="logo_url" placeholder="Enter new logo URL">
                              </div>
                              <div class="form-group">
                                  <label for="new-text">New Text:</label>
                                  <input type="text" class="form-control" id="new-text" name="new_text" placeholder="Enter new text">
                              </div> -->
                              <div class="form-group">
                                  <label for="admin-email">New Admin Email:</label>
                                  <input type="email" class="form-control" id="admin-email" name="admin_email" placeholder="Enter new admin email">
                              </div>
                              <button type="submit" class="btn btn-primary">Update WordPress Site</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Deuxième carte : Mettre à jour Contactez-nous -->
                    <div class="col-md-6 mb-4">
                      <div class="card h-100">
                        <div class="card-header bg-light">
                          <div class="card-title font-weight-bold">Mettre à jour Contactez-nous</div>
                        </div>
                        <div class="card-body">
                          <form method="post" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                                <input type="hidden" name="website_builder_location_id" value="{{ website_builder_location.id }}">
            
                                <label for="title">New Address:</label>
                                <input type="text" class="form-control" id="title" name="title" placeholder="Enter new title">
                            </div>
                            <div class="form-group">
                                <label for="description">New Téléphone:</label>
                                <input type="text" class="form-control" id="description" name="description" placeholder="Enter new description">
                            </div>
                            <div class="form-group">
                              <label for="admin-email">New Adresse e-mail:</label>
                              <input type="email" class="form-control" id="admin-email" name="admin_email" placeholder="Enter new admin email">
                          </div>
                          <button type="submit" class="btn btn-primary">Update WordPress Site</button>
                      </form> 
                        </div>
                      </div>
                    </div>
                  </div>
                  
                 
                <a href="{% url "generateur_description" %}" class="btn btn-primary btn-icon-split">
                    <span class="text">Générateur Description</span>
                 </a>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Les informations de site web</div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex overflow-visible">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Nom du website</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.name}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Description</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.description}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Catégorie</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.catégorie}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">CMS</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.CMS}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Plan</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.plan}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Langue</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.langues}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Date de création</a>
                                <p class="text-muted mb-0">{{website_builder_location.website.date_created}}</p>
                            </div>
                        </div>
                    </div>
                </div>
  
              
            </div>
        </div>
        <!--End::row-1 -->
  
    </div>
  </div>
  <!-- End::app-content -->


{% endblock %}