{% extends "clients/dashboard2.html" %}

{% load static %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

     <!-- Start::app-content -->
 <div class="main-content app-content">
    <br>
    <div class="container-fluid">
        {% if messages %}
        <script>
            setTimeout(function() {
                $('.alert').alert('close');
            }, 7000);
        </script>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                   
                </div>
            {% elif message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                   
        </div>
            {% endif %}
        {% endfor %}
    {% endif %}


        <!-- PAGE-HEADER -->
        <div class="page-header">
          <h1 class="page-title my-auto">Mettre à jour Nom du site Web : <span class="font-weight-bold">{{website_builder.nameWebsite}}</h1>
          <div>
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Mettre à jour du site Web</li>
            </ol>
          </div>
        </div>
        <!-- PAGE-HEADER END -->
  
  
        <!-- Start::row-1 -->
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <img class="card-img-top " src="{{ website_builder.website.image.url }}" alt="Card image cap">
                    <div class="card-body border-bottom">
                        <div class="d-md-flex flex-wrap align-items-center">
                            <!-- Nom du site Web -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-primary-transparent text-primary avatar">
                                <i class="fe fe-globe"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder.nameWebsite }}
                              </span>
                            </a>
                          
                            <!-- Date de génération -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-secondary-transparent text-secondary avatar">
                                <i class="fe fe-calendar"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder.date_build|date:"d M Y" }}
                              </span>
                            </a>
                          
                            <!-- Nom du template -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-info-transparent text-info avatar">
                                <i class="fe fe-layout"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder.website.name }}
                              </span>
                            </a>
                          
                            <!-- Date fin hébergement -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-warning-transparent text-warning avatar">
                                <i class="fe fe-clock"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">
                                {{ website_builder.date_fin_hebergement|date:"d M Y" }}
                              </span>
                            </a>
                          
                            <!-- Type d'achat -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-success-transparent text-success avatar">
                                <i class="fe fe-shopping-cart"></i>
                              </span>
                              <span class="my-auto ms-2 text-muted fw-semibold">Achat</span>
                            </a>
                          
                            <!-- Statut du site -->
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                              <span class="bg-dark-transparent text-dark avatar">
                                <i class="fe fe-activity"></i>
                              </span>
                              <span class="my-auto ms-2 fw-semibold">
                                {% if website_builder.Statu_du_website == '1' %}
                                  <span class="badge bg-success rounded-pill text-white p-2 px-3">Active</span>
                                {% elif website_builder.Statu_du_website == '2' %}
                                  <span class="badge bg-warning rounded-pill text-white p-2 px-3">Suspendu</span>
                                {% elif website_builder.Statu_du_website == '3' %}
                                  <span class="badge bg-secondary rounded-pill text-white p-2 px-3">Demande de Résiliation</span>
                                {% elif website_builder.Statu_du_website == '4' %}
                                  <span class="badge bg-info rounded-pill text-white p-2 px-3">Paiement en retard</span>
                                {% elif website_builder.Statu_du_website == '5' %}
                                  <span class="badge bg-dark rounded-pill text-white p-2 px-3">En attente de Suppression</span>
                                {% elif website_builder.Statu_du_website == '6' %}
                                  <span class="badge bg-danger rounded-pill text-white p-2 px-3">Supprimé</span>
                                {% elif website_builder_location.Statu_du_website == '8' %}
                                  <span class="badge bg-danger rounded-pill text-white p-2 px-3">Demande de Supprimé</span>
                                {% else %}
                                  <span class="badge bg-light rounded-pill text-dark p-2 px-3">Inconnu</span>
                                {% endif %}
                              </span>
                              
                            </a>
                          
                            <!-- Statut du reset -->
                            {% if reset_status == '0' %}
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                                <span class="bg-info-transparent text-info avatar">
                                  <i class="fe fe-refresh-cw"></i>
                                </span>
                                <span class="my-auto ms-2 fw-semibold">
                                  <span class="badge bg-info rounded-pill text-white p-2 px-3">Reset en cours</span>
                                </span>
                              </a>
                            {% elif reset_status == '1' %}
                            <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                                <span class="bg-success-transparent text-success avatar">
                                  <i class="fe fe-check-circle"></i>
                                </span>
                                <span class="my-auto ms-2 fw-semibold">
                                  <span class="badge bg-success rounded-pill text-white p-2 px-3">Reset terminé</span>
                                </span>
                              </a>
                            {% endif %}
                          </div>                          
                    </div>
                    <div class="card-body">
                       <!-- Suspendre -->
                       {% if not suspendre_exists and not reprendre_suspendre_exists and not delete_exists and website_builder.Statu_du_website == '1' %}
                           <button type="button" class="btn btn-sm badge bg-warning rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmSuspendreModal">Suspendre</button>
                           <form id="suspendreForm" method="POST" action="{% url 'add_website_suspendre' %}" style="display: none;">
                               {% csrf_token %}
                               <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                               <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                               <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                           </form>
                       {% endif %}


                        <!-- Modal confirmation Suspendre -->
                        <div class="modal fade" id="confirmSuspendreModal" tabindex="-1" role="dialog" aria-labelledby="confirmSuspendreModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="confirmSuspendreModalLabel">Confirmation</h5>
                                      <button type="button"
                                              class="btn btn-light btn-sm rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                              data-dismiss="modal"
                                              aria-label="Fermer"
                                              style="width: 36px; height: 36px;">
                                      <i class="fe fe-x text-danger"></i>
                                      </button>

                                  </div>
                                  <div class="modal-body">
                                      Êtes-vous sûr de vouloir soumettre une demande de suspension ?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                      <button type="button" class="btn btn-primary" onclick="submitSuspendreForm()">Confirmer</button>
                                  </div>
                              </div>
                          </div>
                      </div>


                        <!-- Reprendre Suspendre -->
                        {% if not reprendre_suspendre_exists and suspendre_exists and not delete_exists %}
                            <button type="button" class="btn btn-sm badge bg-warning rounded-pill text-white" style="width: 158px; height: 26px;" data-toggle="modal" data-target="#confirmSuspendreModal2">Reprendre Suspendre</button>
                            <form id="suspendreForm2" method="POST" action="{% url 'add_website_suspendre_reprendre' %}" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                                <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                                <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                                <input type="hidden" name="getfree_website_builder_id" value="{{ getfree_website_builder.id }}">
                            </form>
                        {% endif %}


                        <!-- Modal confirmation Reprendre Suspendre -->
                        <div class="modal fade" id="confirmSuspendreModal2" tabindex="-1" role="dialog" aria-labelledby="confirmSuspendreModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="confirmSuspendreModalLabel">Confirmation</h5>
                                      <button type="button"
                                      class="btn btn-light btn-sm rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                      data-dismiss="modal"
                                      aria-label="Fermer"
                                      style="width: 36px; height: 36px;">
                                      <i class="fe fe-x text-danger"></i>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                    Êtes-vous sûr de vouloir soumettre une demande de Reprendre Suspendre ?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                      <button type="button" class="btn btn-primary" onclick="document.getElementById('suspendreForm2').submit()">Confirmer</button>
                                  </div>
                              </div>
                          </div>
                      </div>


                        <!-- Reset -->
                        {% if not reset_request and not delete_exists %}
                            <button type="button" class="btn btn-sm badge bg-info rounded-pill text-white" style="width: 131px; height: 26px;" data-toggle="modal" data-target="#confirmResetModal">Réinitialiser</button>
                            <form id="resetForm" method="POST" action="{% url 'add_website_reset' %}" style="display: none;">
                                {% csrf_token %}
                                <input type="hidden" name="cliente_id" value="{{ request.user.cliente.id }}">
                                <input type="hidden" name="location_website_builder_id" value="{{ website_builder_location.id }}">
                                <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                            </form>
                        {% endif %}

                            <!-- Modal confirmation Reset -->
                            <div class="modal fade" id="confirmResetModal" tabindex="-1" role="dialog" aria-labelledby="confirmResetModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmResetModalLabel">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes-vous sûr de vouloir soumettre une demande de réinitialisation ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-primary" onclick="document.getElementById('resetForm').submit()">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <script>
                                function submitSuspendreForm() {
                                    document.getElementById("suspendreForm").submit();
                                }
                            </script>
    

                        <!-- Ajouter une période d'hébergement Button -->
                        <button type="button" class="btn btn-sm badge bg-secondary rounded-pill text-white" style="width: 220px; height: 26px;" data-toggle="modal" data-target="#addPeriodModal">Ajouter une période d'hébergement</button>

                         <!-- Model of Hébergement -->
                         <div class="modal fade" id="addPeriodModal" tabindex="-1" role="dialog" aria-labelledby="addPeriodModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addPeriodModalLabel">Ajouter une période d'hébergement</h5>
                                        <button type="button"
                                        class="btn btn-light btn-sm rounded-circle shadow-sm d-flex align-items-center justify-content-center"
                                        data-dismiss="modal" aria-label="Fermer" style="width: 36px; height: 36px;"><i class="fe fe-x text-danger"></i></button>                                
                                    </div>
                                    <div class="modal-body">
                                      <form id="addPeriodForm" method="POST" action="{% url 'add_period_hebergement' achat_id=website_builder.achat_website.id %}">
                                          {% csrf_token %}
                                            <input type="hidden" name="website_builder_id" value="{{ website_builder.nameWebsite }}">
                                            <input type="hidden" name="achat_id" value="{{ achat_id }}">

                                            <div class="form-group">
                                                <label for="hebergement_period">Choisissez la période d'hébergement:</label>
                                                <select class="form-control" id="hebergement_period" name="hebergement_period">
                                                    <option value="1">1 mois</option>
                                                    <option value="3">3 mois</option>
                                                    <option value="6">6 mois</option>
                                                    <option value="9">9 mois</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="total_price">Prix ​​total:</label>
                                                <input type="text" class="form-control" id="total_price" name="total_price" readonly>
                                            </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">confirmer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <script>
                            document.getElementById('hebergement_period').addEventListener('change', function () {
                                var selectedPeriod = this.value;
                                var prixLoyer = parseFloat("{{ website_builder.achat_website.websites.prix_hebergement }}");
                                var totalPrice = prixLoyer * parseInt(selectedPeriod);
                                document.getElementById('total_price').value = totalPrice.toFixed(2) + " MAD";
                            });
                          </script>
                      </div>

                </div>
                <div class="row">
                    <!-- Première carte : Mettre à jour WordPress -->
                    <div class="col-md-6 mb-4">
                      <div class="card h-100">
                        <div class="card-header bg-light">
                          <div class="card-title font-weight-bold">Mettre à jour</div>
                        </div>
                        <div class="card-body">
                          <form method="post" action="{% url 'update_wordpress' %}">
                            {% csrf_token %}
                            <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                            <input type="hidden" name="website_builder_location_id" value="{{ website_builder_location.id }}">
                  
                            <div class="form-group">
                              <label for="title">Nouveau titre :</label>
                              <input type="text" class="form-control" id="title" name="title" placeholder="Entrez le nouveau titre">
                            </div>
                  
                            <div class="form-group mt-3">
                              <label for="description">Nouvelle description :</label>
                              <input type="text" class="form-control" id="description" name="description" placeholder="Entrez la nouvelle description">
                            </div>
                  
                            <div class="form-group mt-3">
                              <label for="admin-email">Nouvel e-mail admin :</label>
                              <input type="email" class="form-control" id="admin-email" name="admin_email" placeholder="Entrez l'e-mail admin">
                            </div>
                  
                            <div class="text-right mt-4">
                              <button type="submit" class="btn btn-primary">Mettre à jour WordPress</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Deuxième carte : Mettre à jour Contactez-nous -->
                    <div class="col-md-6 mb-4">
                      <div class="card h-100">
                        <div class="card-header bg-light">
                          <div class="card-title font-weight-bold">Mettre à jour Contactez-nous</div>
                        </div>
                        <div class="card-body">
                          <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="website_builder_id" value="{{ website_builder.id }}">
                            <input type="hidden" name="website_builder_location_id" value="{{ website_builder_location.id }}">
                  
                            <div class="form-group">
                              <label for="title">Nouvelle adresse :</label>
                              <input type="text" class="form-control" id="title" name="title" placeholder="Entrez la nouvelle adresse">
                            </div>
                  
                            <div class="form-group mt-3">
                              <label for="description">Nouveau téléphone :</label>
                              <input type="text" class="form-control" id="description" name="description" placeholder="Entrez le nouveau téléphone">
                            </div>
                  
                            <div class="form-group mt-3">
                              <label for="admin-email">Nouvel e-mail :</label>
                              <input type="email" class="form-control" id="admin-email" name="admin_email" placeholder="Entrez l'e-mail">
                            </div>
                  
                            <div class="text-right mt-4">
                              <button type="submit" class="btn btn-primary">Mettre à jour Contact</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                 
                <a href="{% url "generateur_description" %}" class="btn btn-primary btn-icon-split">
                    <span class="text">Générateur Description</span>
                 </a>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Les informations de site web</div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex overflow-visible">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Nom du website</a>
                                <p class="text-muted mb-0">{{website_builder.website.name}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Description</a>
                                <p class="text-muted mb-0">{{website_builder.website.description}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Catégorie</a>
                                <p class="text-muted mb-0">{{website_builder.website.catégorie}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">CMS</a>
                                <p class="text-muted mb-0">{{website_builder.website.CMS}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Plan</a>
                                <p class="text-muted mb-0">{{website_builder.website.plan}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Langue</a>
                                <p class="text-muted mb-0">{{website_builder.website.langues}}</p>
                            </div>
                        </div>
                        <div class="d-flex overflow-visible mt-4">
                            <div class="media-body valign-middle">
                                <a href="profile.html" class="fw-semibold text-dark">Date de création</a>
                                <p class="text-muted mb-0">{{website_builder.website.date_created}}</p>
                            </div>
                        </div>
                    </div>
                </div>
  
              
            </div>
        </div>
        <!--End::row-1 -->
  
    </div>
  </div>
  <!-- End::app-content -->


{% endblock %}