{% extends "GestionnaireComptes/dashbordGestionnaireComptes.html" %}

{% load static %}

{% block content %}
        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">

                <!-- PAGE-HEADER -->
                <div class="page-header">
                  <h1 class="page-title my-auto">Détails du chargeur à la demande :</h1>
                  <div>
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item">
                        <a href="{% url 'DemandeRechargerNotDoneyet' %}">Demande de recharge pas encore effectuée                        </a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">Détails du chargeur à la demande :</li>
                    </ol>
                  </div>
                </div>
                <!-- PAGE-HEADER END -->


                <!-- Start::row-1 -->
                <div class="row">
                    <div class="col-xl-12">
                            <!-- Image en haut -->
                            <div class="text-center mb-3">
                                {% if demande_recharger.image %}
                                  <a href="{% url 'full_size_image' demande_recharger.id %}" target="_blank">
                                    <img src="{{ demande_recharger.image.url }}" class="img-thumbnail" style="width: 500px; height: 400px;" alt="Trace de virement">
                                  </a>
                                {% else %}
                                  <img src="{% static 'img/default-image.jpg' %}" class="img-thumbnail" style="width: 500px; height: 400px;" alt="Image non disponible">
                                {% endif %}
                              </div>
                              
                        <div class="card">
                            <div class="card-body border-bottom">
                              <div class="d-md-flex">
                                <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                                  <span class="bg-secondary-transparent text-secondary avatar">
                                    <i class="fe fe-calendar"></i>
                                  </span>
                                  <span class="my-auto ms-2 text-muted fw-semibold">
                                    {{ demande_recharger.date_created|date:"d M Y" }}
                                  </span>
                                </a>
                                <a href="javascript:void(0);" class="d-flex mb-sm-0 mb-2">
                                  <span class="bg-primary-transparent text-primary avatar">
                                    <i class="fe fe-user"></i>
                                  </span>
                                  <span class="my-auto ms-2 text-muted fw-semibold">
                                    {{ demande_recharger.cliente.user.username }}
                                  </span>
                                </a>
                                <div class="ms-auto">
                                  <a href="{% url 'DemandeRechargerNotDoneyet' %}" class="d-flex mb-sm-0 mb-2">
                                    <span class="bg-info-transparent text-info avatar">
                                      <i class="fe fe-arrow-left"></i>
                                    </span>
                                    <span class="my-auto ms-2 text-muted fw-semibold">Retourner</span>
                                  </a>
                              </div>
                            </div>
                          </div>
                      
                          <div class="card-body">
                            <h4 class="fw-normal text-danger text-center">Inacceptable la Demande Recharger</h4>
                            <p class="text-muted text-center">Lorem ipsum dolor sit amet elit. Sapiente sit aut eos consectetur adipisicing.</p>
                            <div class="mb-4 text-center">
                                <h6 class="fw-normal">Solde demandé : <span class="fw-bold">{{ demande_recharger.solde }} MAD</span></h6>
                                <h6 class="fw-normal">Code de demande : <span class="fw-bold">{{ demande_recharger.code_DemandeRecharger }}</span></h6>
                              </div>
                            <form action="{% url 'infirmer_demande_recharger' demande_recharger.id %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-3">
                                <label for="solde" class="form-label">Solde</label>
                                <input type="text" class="form-control" id="solde" name="solde" required>
                              </div>
                              <div class="mb-3">
                                <label for="image" class="form-label">Image la Trace</label>
                                <input type="file" class="form-control" id="image" name="image" required>
                              </div>
                              <div class="mb-3">
                                <label for="motifNonAcceptation" class="form-label">Motif Non Acceptation</label>
                                <input type="text" class="form-control" id="motifNonAcceptation" name="motifNonAcceptation" required>
                              </div>
                              <div class="text-center">
                                <button type="submit" class="btn btn-danger">Inacceptable Le Demande</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-12">
                        <div class="card">
                          <div class="card-body border-bottom">
                            <div class="d-md-flex">
                              <a href="javascript:void(0);" class="d-flex me-4 mb-sm-0 mb-2">
                                <span class="bg-secondary-transparent text-secondary avatar">
                                  <i class="fe fe-calendar"></i>
                                </span>
                                <span class="my-auto ms-2 text-muted fw-semibold">
                                  {{ demande_recharger.date_created|date:"d M Y" }}
                                </span>
                              </a>
                              <a href="javascript:void(0);" class="d-flex mb-sm-0 mb-2">
                                <span class="bg-primary-transparent text-primary avatar">
                                  <i class="fe fe-user"></i>
                                </span>
                                <span class="my-auto ms-2 text-muted fw-semibold">
                                  {{ demande_recharger.cliente.user.username }}
                                </span>
                              </a>
                              <div class="ms-auto">
                                <a href="{% url 'DemandeRechargerNotDoneyet' %}" class="d-flex mb-sm-0 mb-2">
                                  <span class="bg-info-transparent text-info avatar">
                                    <i class="fe fe-arrow-left"></i>
                                  </span>
                                  <span class="my-auto ms-2 text-muted fw-semibold">Retourner</span>
                                </a>
                              </div>
                            </div>
                          </div>
                      
                          <div class="card-body">
                            <h4 class="fw-normal text-primary text-center">Valider la Demande Recharger</h4>
                            <p class="text-muted text-center">Merci de confirmer cette demande avec les informations nécessaires.</p>
                      
                            <div class="mb-4 text-center">
                              <h6 class="fw-normal">Solde demandé : <span class="fw-bold">{{ demande_recharger.solde }} MAD</span></h6>
                              <h6 class="fw-normal">Code de demande : <span class="fw-bold">{{ demande_recharger.code_DemandeRecharger }}</span></h6>
                            </div>
                      
                            <form action="{% url 'confirm_demande_recharger' demande_recharger.id %}" method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="mb-3">
                                <label for="solde" class="form-label">Solde</label>
                                <input type="text" class="form-control" id="solde" name="solde" required>
                              </div>
                              <div class="mb-3">
                                <label for="image" class="form-label">Image la Trace</label>
                                <input type="file" class="form-control" id="image" name="image" required>
                              </div>
                              <div class="text-center">
                                <button type="submit" class="btn btn-primary">Accepter la Demande</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                </div>
                <!--End::row-1 -->

            </div>
        </div>
        <!-- End::app-content -->
{% endblock %}