{% extends "SuperAdmin/dashbordSuperAdmin.html" %}

{% load static %}

{% block content %}

 <!-- partial -->
 <div class="main-panel">
  <div class="content-wrapper">
  {% if messages %}
  {% for message in messages %}
      {% if message.tags == 'success' %}
        <div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
    <div class="row">
      <form method="get" class="form-inline mb-3">
        <input type="text" name="code" placeholder="Code Demande" class="form-control mr-2" >
      
        {% comment %} <select name="status" class="form-control mr-2">
          <option value="">-- Status --</option>
          <option value="Done" {% if status == 'Done' %}selected{% endif %}>Done</option>
          <option value="Not Done yet" {% if status == 'Not Done yet' %}selected{% endif %}>Not Done yet</option>
        </select> {% endcomment %}
      
        <select name="status_consome" class="form-control mr-2">
          <option value="">-- Status Consomé --</option>
          <option value="Consomé" {% if status_consome == 'Consomé' %}selected{% endif %}>Consomé</option>
          <option value="Not Consomé" {% if status_consome == 'Not Consomé' %}selected{% endif %}>Not Consomé</option>
        </select>
      
        <select name="updated_by" class="form-control mr-2">
          <option value="">-- Technicien --</option>
          {% for tech in techniciens %}
            <option value="{{ tech.id }}" {% if updated_by == tech.id|stringformat:"s" %}selected{% endif %}>
              {{ tech.name }}
            </option>
          {% endfor %}
        </select>
        <!-- Bouton Réinitialiser -->
        <button type="submit" class="btn btn-primary">Filtrer</button>&nbsp;
        <a href="{% url 'DemandeSupportAll' %}" class="btn btn-secondary ml-2">🔄 Réinitialiser</a>&nbsp;&nbsp;


        <div class="mb-3" style="margin-left: 437px;">
          <a href="{% url 'export_demande_support_filtered' format='excel' %}?status={{ status }}&status_consome={{ status_consome }}&updated_by={{ updated_by }}&code={{ code }}&cliente_username={{ cliente_username }}" class="btn btn-success">
            📥 Télécharger Excel
          </a>
        
          <a href="{% url 'export_demande_support_filtered' format='pdf' %}?status={{ status }}&status_consome={{ status_consome }}&updated_by={{ updated_by }}&code={{ code }}&cliente_username={{ cliente_username }}" class="btn btn-danger">
            🧾 Télécharger PDF
          </a>
        </div>
        
      </form>
      
      
      
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Demande Suppprt </h4>
            {% comment %} <p class="card-description">
              Add class <code>.table-striped</code>
            </p> {% endcomment %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Username Cliente</th>
                        <th>Support Nom</th>
                        <th>Prix</th>
                        <th>Status</th>
                        <th>Status Demande</th>
                        <th>Date Created</th>
                        <th>Code Demande</th>
                        <th>Update By</th>
                      </tr>
                </thead>
                <tbody>
                  {% for DemandeSupport in DemandeSupports %}
                  <tr>
                    <td class="py-1">{{ forloop.counter }}</td>
                    <td>{{ DemandeSupport.cliente.user.username }}</td>
                    <td>{{ DemandeSupport.achat_support.support.name }}</td>
                    <td>{{ DemandeSupport.achat_support.prix }} <span class="font-weight-bold">MAD</span></td>

                    {% if DemandeSupport.achat_support.Status == 'Active' %}  
                    <td><span class="badge badge-success">{{ DemandeSupport.achat_support.Status }}</span></td>
                    {% endif %}
                    {% if DemandeSupport.achat_support.Status == 'No Active' %}  
                    <td><span class="badge badge-danger">{{ DemandeSupport.achat_support.Status }}</span></td>
                    {% endif %}

                    {% if DemandeSupport.achat_support.StatusConsomé == 'Consomé' %}  
                    <td><span class="badge badge-success">{{ DemandeSupport.achat_support.StatusConsomé }}</span></td>
                    {% endif %}
                    {% if DemandeSupport.achat_support.StatusConsomé == 'Not Consomé' %}  
                    <td><span class="badge badge-danger">{{ DemandeSupport.achat_support.StatusConsomé }}</span></td>
                    {% endif %}

                    <td>{{ DemandeSupport.date_created }}</td>
                    <td>{{ DemandeSupport.code_DemandeSupport }}</td>
                    <td>{{ DemandeSupport.updated_by }}</td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  
</div>

</div>



<!-- Scroll to top -->
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
{% endblock %}