{% extends "SupportTechnique/dashbordSupportTechnique.html" %}

{% load static %}

{% block content %}
<div class="container" style="margin-top: 30px;">
    <form method="get" action="{% url 'list_ticket_ST' %}">
        <div class="container mt-4">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <input type="text" class="form-control rounded" name="code_ticket" value="{{ request.GET.code_ticket }}" placeholder="Code Ticket">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <input type="date" class="form-control rounded" name="date_created" value="{{ request.GET.date_created }}">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <input type="text" class="form-control rounded" name="username_client" value="{{ request.GET.username_client }}" placeholder="Username Client">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <input type="text" class="form-control rounded" name="code_demande" value="{{ request.GET.code_demande }}" placeholder="Code Demande">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <select class="form-control rounded" name="branche">
                        <option value="">Tout Sujet</option>
                        <option value="Website" {% if request.GET.branche == "Website" %}selected{% endif %}>Website</option>
                        <option value="Service" {% if request.GET.branche == "Service" %}selected{% endif %}>Service</option>
                        <option value="Application" {% if request.GET.branche == "Application" %}selected{% endif %}>Application</option>
                        <option value="Autre" {% if request.GET.branche == "Autre" %}selected{% endif %}>Autre</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <select class="form-control rounded" name="status">
                        <option value="">Tous les statuts</option>
                        <option value="Ouvert" {% if request.GET.status == "Ouvert" %}selected{% endif %}>Ouvert</option>
                        <option value="En Cours de traitement" {% if request.GET.status == "En Cours de traitement" %}selected{% endif %}>En Cours de traitement</option>
                        <option value="Fermée" {% if request.GET.status == "Fermée" %}selected{% endif %}>Fermée</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <button class="btn btn-primary w-100 rounded" type="submit"><i class="fa fa-search"></i> Rechercher</button>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <button class="btn btn-secondary w-100 rounded" type="reset" onclick="window.location.href='{% url 'list_ticket_ST' %}'"><i class="fa fa-refresh"></i> Réinitialiser</button>
                </div>
            </div>
        </div>
    </form>
        
    <br>
      {% comment %} <div class="input-group">
        <input type="date" class="form-control" name="" id=""> &nbsp;&nbsp;
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
        </span>
      </div><br> {% endcomment %}

      <br>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="header-title pb-3 mt-0">Les Tickets</h5>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr class="align-self-center">
                                    <th>Username Client</th>
                                    <th>Sujet</th>
                                    <th>Code Demande</th>
                                    <th>Statut</th>
                                    <th>Code Ticket </th>
                                    <th>Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if tickets %}
                                {% for ticket in tickets %}
                                <tr>
                                    <td style="font-weight: bold;">{{ticket.cliente.user.username}}</td>
                                    <td style="font-weight: bold;">{{ticket.Branche}}</td>     {% comment %}<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="thumb-sm rounded-circle mr-2"> {% endcomment %}
                                    <td style="font-weight: bold;">{{ticket.code_Demande}}</td>
                                    <td >
                                        {% if ticket.status == "Ouvert"%}
                                            <span style="font-weight: bold;" class="badge badge-success">{{ ticket.status }}</span>
                                        {% elif ticket.status == "En Cours de traitement" %}
                                            <span style="font-weight: bold;" class="badge badge-warning">{{ ticket.status }}</span>
                                        {% elif ticket.status == "Fermée" %}
                                            <span style="font-weight: bold;" class="badge badge-danger">{{ ticket.status }}</span>
                                        {% endif %}
                                    </td>                        
                                    <td style="font-weight: bold;">{{ticket.code_Ticket}}</td>            
                                    <td style="font-weight: bold;">{{ticket.date_created}}</td>
                                    <td style="font-weight: bold;">
                                        <a href="{% url 'details_ticket_ST' ticket.code_Ticket %}" class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6" class="text-center font-weight-bold">Aucun ticket disponible</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <!--end table-responsive-->
                    {% comment %} <div class="pt-3 border-top text-right"><a href="#" class="text-primary">View all <i class="mdi mdi-arrow-right"></i></a></div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    {% comment %} body{
        background:#f5f5f5;
        margin-top:20px;
    } {% endcomment %}
    .card {
        border: none;
        -webkit-box-shadow: 1px 0 20px rgba(96,93,175,.05);
        box-shadow: 1px 0 20px rgba(96,93,175,.05);
        margin-bottom: 30px;
    }
    .table th {
        font-weight: 500;
        color: #827fc0;
    }
    .table thead {
        background-color: #f3f2f7;
    }
    .table>tbody>tr>td, .table>tfoot>tr>td, .table>thead>tr>td {
        padding: 14px 12px;
        vertical-align: middle;
    }
    .table tr td {
        color: #8887a9;
    }
    .thumb-sm {
        height: 32px;
        width: 32px;
    }
    .badge-soft-warning {
        background-color: rgba(248,201,85,.2);
        color: #f8c955;
    }
    
    .badge {
        font-weight: 500;
    }
    .badge-soft-primary {
        background-color: rgba(96,93,175,.2);
        color: #605daf;
    }
</style>

{% endblock %}